* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans MT', sans-serif
}

:root {
    --laranja: #f97316;
    --branco: #ffffff;
    --cinza: #94a3b8;
}

body {
    background-color: #000000;
    color: var(--branco);
}

/* MENU */
header {
    background: #000000;
    padding: 60px 4%;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--branco);
}

nav a:hover {
    color: var(--laranja);
    transition: 0.2s;
}

.cv-btn {
    background: var(--laranja);
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;;
}

/* SEÇÕES */
section {
    padding: 60px 4%;
}

h2 {
    margin-bottom: 20px;
    font-size: 44px;
}

p {
    color: var(--branco);
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 20px;
}

span.laranja {
    color: var(--laranja);
}

span.branco {
    color: var(--branco);
}


/* HERO */
.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    align-items: center;
}

.hero-img img {
    width: 100%;
    max-width: 300px;
    transform: scale(1.0);
    transition: .2s;
}

/* BOTÃO */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: var(--laranja);
    color: #020617;
    border-radius: 6px;
    text-decoration: none;
}

/* SKILLS */
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    font-size: 24px;
}

.skill-box {
    background: #020617;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.skill-box:hover {
    transform: scale(1.05);
    border: 1px solid var(--laranja);
}

.skill-box i {
    font-size: 2rem;
    color: var(--laranja);
    margin-bottom: 10px;
}

/* SOBRE */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    align-items: center;
    text-align: justify;
}

.about-img img {
    max-width: 300px;
    border-radius: 50%;
    border: none;
}

/* PROJECTOS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

/* RODAPÉ */

/* =========================
   CONTACTO - FORMULÁRIO
========================= */
.contact-section {
    padding: 80px 8%;
    text-align: center;
}

.contact-section p {
    color: var(--muted);
    max-width: 600px;
    margin: 0 auto 30px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: var(--dark);
    color: var(--text);
}

.contact-form textarea {
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--muted);
}

/* =========================
   FOOTER PROFISSIONAL
========================= */
.footer-profissional {
    background: var(--white);
    padding: 30px 8%;
    text-align: center;
}
.footer-profissional h3 {
    color: #c76000;
    margin-bottom: 10px;
}

.contact-section h3 {
    color: var(--laranja);
    margin-bottom: 10px;
    font-size: 30px;
}

.form-group{
    border-radius: var(--laranja);
}

.footer-profissional p {
    color: var(--white);
    margin-bottom: 15px;
    font-size: 20px;
}

.social-icons a {
    color: var(--laranja);
    font-size: 2.0rem;
    margin: 0 12px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--primary);
    transform: translateY(-3px);
}
/* RESPONSIVO */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}